.center{
  max-width: 600px;
  max-height: 500px;
  margin: 10px auto;
}

.basic-container {
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 85%;
  background-color: rgba(63, 81, 181, .2);
}

.example-right-align {
  text-align: right;
}

.basic-card {
  max-width: 400px;
  margin: auto;
}
