<div class="basic-container">
  <mat-card class="login-card">
    <mat-card-content>
      <mat-form-field
        [hideRequiredMarker]="false"
        [floatLabel]="'auto'">
        <input matInput placeholder="Username" required>
      </mat-form-field>
      <p>    </p>
      <mat-form-field>
        <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <p>    </p>
      <button mat-raised-button color="primary">Log in</button>
    </mat-card-content>
 </mat-card>
</div>


