<mat-toolbar class="toolbar" color="primary">
  <mat-toolbar-row>
    <div class="buttons"></div>
      <button mat-button routerLinkActive="active" color="accent" routerLink="/home">Home</button>
      <button mat-button routerLinkActive="active" color="accent" routerLink="/play">Play</button>

      <span class="spacer"></span>

      <button mat-button routerLink="/auth" color="accent" routerLinkActive="active" *ngIf="!isAuth" >Login/Register</button>
      <button mat-button routerLink="/profile" color="accent" routerLinkActive="active" >Profile</button>
      <button mat-button routerLink="/home" color="accent" routerLinkActive="active" *ngIf="isAuth" (click)="logout()">log out</button>
  </mat-toolbar-row>
</mat-toolbar>


