.active{
  border-style: solid;
}
.sidenav {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  border-top: none;
  border-bottom: none;
  border-right: none;
}
.sidenav-font{
  background-color: #3f51b5;
}
.drawer-content{
  padding-left: 40px;
  background-color: rgba(63, 81, 181, .2);

}
.font{
  background-color: rgba(63, 81, 181, .2);
  width: 100%;
  height: 90%;
}
