.center{
  max-width: 600px;
  max-height: 500px;
  margin: 10px auto;
}

.basic-container {
  height: 85%;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgba(63, 81, 181, .2);
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.basic-card {
  max-width: 400px;
  margin: auto;
}
