<div class="font">
<mat-drawer-container class="sidenav">
  <mat-drawer mode="side" opened class="sidenav-font">
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content class="drawer-content">
    <div class="basic-container">
      <form class="form-horizontal" [formGroup]="userForm">
        <mat-form-field>
          <input matInput placeholder="Enter your email"
                 formControlName="email"
                 [(value)]="user.user_mail">
        </mat-form-field>
        <p> </p>
        <mat-form-field>
          <input matInput placeholder="Username"
                 formControlName="username"
                 [(value)]="user.user_name">
        </mat-form-field>
        <p></p>
        <mat-form-field>
          <mat-select placeholder="Mode"
                      [(value)]="selectedMode">
            <mat-option *ngFor="let mode of modes" [value]="mode.value">
              {{ mode.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <p></p>
        <button mat-raised-button color="primary" (click)=togglePassword() > change Password </button>

        <div *ngIf=changePassword >
          <mat-form-field>
            <input matInput placeholder="Enter your old password"
                   id = 'oldPassword'
                   [type]="hide ? 'password' : 'text'"
                   formControlName="oldPassword" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
          <p></p>
          <mat-form-field>
            <input matInput placeholder="Enter your new password"
                   id = 'newPassword'
                   [type]="hide ? 'password' : 'text'"
                   formControlName="newPassword"
                   pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error>getErrorPasswordMessage()</mat-error>
          </mat-form-field>
          <p> </p>
          <mat-form-field>
            <input matInput placeholder="Confirm your new password"
                   id='confirmNewPassword'
                   [type]="hide ? 'password' : 'text'"
                   formControlName="confirmNewPassword">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
        </div>
        <p></p>
        <p></p>
        <button mat-raised-button color="primary" [disabled]="this.changePassword && userForm['oldPassword']===''" (click)=onUpdate()>Update</button>
      </form>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
</div>
